*target*
*.war
*.ear
*.class

# eclipse specific git ignore
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.idea
# External tool builders
.externalToolBuilders/
portal-core.iml
# Locally stored "Eclipse launch configuration s"
*.launch
/nb-configuration.xml
*.iml
bin/
camel/src/main/resources/
camel/src/test/
jms/src/main/resources/
jms/src/test/
